.contactanos {
  .container-contactanos {
    margin-block-start: 71px;
    block-size: 474.22px;
    max-inline-size: 1440px;
    padding: 30px 21px 21px 19px;
    color: $white;
    background-image: url('../images/background_base-contactanos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center; 
    margin: auto;
  
    &__title {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 2rem;
      margin-block-end: 33px;
    }
    &__form {
      inline-size: 320px;
      &-items {
        display: flex;
        flex-direction: column;
        label {
          margin-block-end: 10px;
        }
        p {
          line-height: 1.7rem;
          font-weight: 700;
          opacity: 0.5;
          margin-block-end: 7px;
        }
        input {
          block-size: 39px;
          inline-size: 320px;
          line-height: 1.7rem;
          padding-inline: 19px;
          background:#EFF2F9;
          border: 1px solid #D2D6E1;
          border-radius: 5px;
    
          &::placeholder {
            color: #969CBA;
          }
        
          &:focus {
            outline: none;
          }
        }
      }
      button {
        @include base_btn(31px, 115px);
        // @include btn_disabled;
        margin: 31px auto;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: 0.3px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contactanos {
    .container-contactanos {
      &__form {
        inline-size: 691px;
        &-items {
          flex-direction: inherit;
          justify-content: space-between;
          &-left, &-right{
            display: flex;
            flex-direction: column;
          }
          label {
            margin-block-end: 26px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .contactanos {
    .container-contactanos {
      margin-block-start: 152px;
      padding-inline-start: 228px;
      padding-top: 67px;
      background-image: url('../images/background-D-contactanos.png');
      &__form {
        button {
          @include base_btn(52px, 144px);
          // @include btn_disabled;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.6rem;
          letter-spacing: 0.2px;
          margin: 19px auto auto 0;
        }
      }
    }
  }
}