// == PALETA == //
$primary-blue : #0F3041;
$primary-red: #FF3355; //rgba(255, 51, 85, 1)
$secondary-red : #D70025;
$white : #ffffff;
$black : #000000;

// == GLOBALES == //
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // scroll-behavior: smooth;
  font-size: 62.5%;
  // --bs-body-bg: #000000;
}

body {
  --bs-body-font-size: 1.4rem;
  --bs-body-font-family: Montserrat;
  --bs-body-color: #0F3041;
  // --bs-body-bg: #000000;

  p {
    margin-bottom: 0;
  }
}

.scroll-style {
  &::-webkit-scrollbar {
    width: 5px;               /* ancho de toda la barra de desplazamiento  */
  }

  &::-webkit-scrollbar-track {
    background: rgba(15, 48, 65, 0.2);
    border-radius: 5px;       /* color of the tracking area */
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba(15, 48, 65, 1);    /* color of the scroll thumb */
    border-radius: 5px;      /* roundness of the scroll thumb */

    &:hover {
      background: rgba(15, 48, 65, 0.8); 
    }
  }
}

.btnNoStyle {
  background: none;
  border: none;
  outline: none;

  &:focus {
    box-shadow: none;
  }
}

// == MIXIS == //

// == MIXIN botón == //
@mixin base_btn($height, $width) {
  height: $height;
  width: $width;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-red;
  color: $white;
  border-radius: 5px;
  border: 2px solid $primary-red;
}

@mixin btn_disabled {
  &:disabled {
    opacity: 0.3;
  }
}


