.container-navbar {
  top: 0;
  position: sticky;
  z-index: 1;
}


// Navbar - bootstrap
.container-navbar {
  .navbar {
    // background: rgba(106, 90, 205, 1);
    // --bs-dark-rgb: 106, 90, 205;
    // --bs-bg-opacity: 1;
    block-size: 5.9rem;
  }
  .container {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    .navbar-brand {
      color: pink;
    }
    .btnMenu {
      height: 50px;
      color: transparent;
      border-color: transparent;
      padding-right: 0;
      span {
        block-size: 3rem;
        inline-size: 3rem;
        background-image: url(../images/menu.svg);
      }
    }
    .navbar-collapse {
      justify-content: flex-end;
      .navbar-nav {
        align-items: flex-end;
        // text-align: end;
        // justify-content: space-between;
        a {
          width: 150px;
          font-size: 1.4rem;
          line-height: 20px;
          font-weight: 600;
          text-align: left;
          color: white;
          text-decoration: none;
        }
      }
    } 
  }
}

// btn Inicio de sesion
.btnLogin {
  height: 31px;
  width: 115px;
  position: absolute;
  top: 14px;
  right: 5.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 14.63px;
  letter-spacing: 0.03em;
  margin-right: 2.5px;
  color: white;
  border-radius: 5px;
  background: #FF3355;
  border: 2px solid #FF3355;
  box-shadow: 0px 0.5px 0px rgba(117, 0, 0, 0.2);
}

@media screen and (min-width: 576px) { //media-bootstrap
  .container-navbar .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .container-navbar {
    .container { //media-bootstrap
      padding-left: 6.5rem;
      padding-right: 20rem;
      .navbar-collapse {
        .navbar-nav {
          a {
            text-align: center;
          }
        }
      }
    }
  }
}
