.container-navbar {
  top: 0;
  position: sticky;
  z-index: 1;
}


// Navbar - bootstrap
.container-navbar {
  .navbar {
    // --bs-dark-rgb: 106, 90, 205;
    // --bs-bg-opacity: 1;
    block-size: 5.9rem;
    max-inline-size: 1440px;
    margin: auto;
    background: #8E122E;
    // background: radial-gradient(173.26% 94.27% at 50% 100%, #BA1930 70.83%, #9D142E 89.06%, #9D142E 89.07%, #8B112D 100%);
  }
  .container {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    .navbar-brand {
      color: pink;
    }
    .btnMenu {
      height: 50px;
      color: transparent;
      border-color: transparent;
      padding-right: 0;

      span {
        block-size: 3rem;
        inline-size: 3rem;
        background-image: url(../images/menu.svg);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 17px;
        z-index: 2;
      }
    }
    .navbar-collapse {
      justify-content: flex-end;
      margin-top: -55px;
      background: #8E122E;
      opacity: 0.9;
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      z-index: 1;
      .navbar-nav {
        margin-top: 58px;
        align-items: center;
        a {
          height: 99px;
          width: 150px;
          font-size: 1.4rem;
          line-height: 20px;
          font-weight: 600;
          text-align: center;
          color: white;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          &:nth-child(2n) {
            height: 120px;
            width: 323px;
            border-top: 1px solid #FFFFFF;
            border-bottom: 1px solid #FFFFFF;
          }
        }
        .item-active {
          color: #FF3355;
        }
      }
    } 
  }
}

// btn Inicio de sesion
.btnLogin {
  height: 31px;
  width: 115px;
  position: absolute;
  top: 14px;
  right: 5.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 14.63px;
  letter-spacing: 0.03em;
  margin-right: 2.5px;
  color: white;
  border-radius: 5px;
  background: #FF3355;
  border: 2px solid #FF3355;
  box-shadow: 0px 0.5px 0px rgba(117, 0, 0, 0.2);
}

@media screen and (min-width: 576px) { //media-bootstrap
  .container-navbar .container {
    max-width: 100%;
    // .navbar-collapse {
    //   .navbar-nav {
    //     a {
    //     }
    //   }
    // }
  }
}

@media screen and (min-width: 992px) {
  .container-navbar {
    .container { //media-bootstrap
      padding-left: 6.5rem;
      padding-right: 20rem;
      .navbar-collapse {
        //
        margin-top: 0;
        opacity: 1;
        position: relative;
        top: 0;
        z-index: 0;
        .navbar-nav {
          margin-top: 0;
          a {
            text-align: center;
            height: 0;
            &:nth-child(2n) {
              height: 0px;
              width: 150px;
              border-top: 0;
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
}
