.options {
  &-subtitulo {
    // inline-size: 332px;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 30px;
    margin-block-end: 0.7rem;
  }
  &-description {
    line-height: 1.7rem;
    block-size: 75px;
    inline-size: 248px;
    margin-block-start: 2px;
  }
  &-descriptionSolicitud {
    font-size: 16px;
    line-height: 20px;
    block-size: 116px;
    inline-size: 269px;
  }
  &-images {
    display: flex;
    position: relative;
    justify-content: flex-end;
    &__left {
      display: flex;
      flex-direction: column;
      margin-block-start: 17px;
      position: absolute;
      left: 0;
      z-index: 1;
      &-brujula {
        block-size: 37.44px;
        inline-size: 68.85px;
      }
      &-cardCase {
        margin-block-start: 26px;
        block-size: 117px;
        inline-size: 188px;
      }
      &-soliDoc {
        margin-block-start: -15px;
        // block-size: 161px;
        // inline-size: 152px;
        block-size: 181px;
        inline-size: 172px;
        // border: 1px solid red;
      }
      &-busqueda {
        margin-block-start: 50px;
      }
      &-jurisprudencia {
        margin-block-start: 50px;
      }
    }
    .container-user {
      margin-block-start: -65px;
      block-size: 289px;
      overflow: hidden;
      // inline-size: 205px;
      inline-size: 220px;
      position: absolute;
      margin-right: -16px;
    }
    &-user {
      block-size: 289px;
      inline-size: 248.43px;
    }
    .container-userSolicitud {
      margin-block-start: -75px;
      inline-size: 210px;
      overflow: hidden;
    }
    .container-userBusqueda {
      margin-block-start: -60px;
      inline-size: 210px;
      overflow: hidden;
    }
    .container-userJurisprudencia {
      margin-block-start: -45px;
      inline-size: 210px;
      overflow: hidden;
      // border: 1px solid red;
    }
  }
}


@media screen and (min-width: 480px) {
  .options {
    &-subtitulo {
      // border:  1px solid red;
      inline-size: 415px;
    }
    &-description {
      // border: 1px solid green;
      // block-size: 75px;
      inline-size: 310px;
    }
    &-images {
      // .container-user {
      //   margin: 1px solid;
      //   margin-block-start: -100px;
      //   block-size: 289px;
      //   inline-size: 205px;
      // }
      // &-user {
      //   block-size: 289px;
      //   inline-size: 205px;
      // }
    }
  }
}
@media screen and (min-width: 768px) {
  .options {
    &-subtitulo {
      // inline-size: 350px;
    }
    &-images {
      &__left {
        inline-size: 310px;
        align-items: center;
      }
      .container-user {
        margin: 1px solid red;
        margin-block-start: -100px;
        block-size: 388.61px;
        inline-size: 354.33px;
        margin-inline-end: 9px;
      }
      &-user {
        block-size: 100%;
        inline-size: 100%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .options {
    display: flex;
    justify-content: space-between;
    &-subtitulo {
      inline-size: 332px;
      font-size: 32px;
      line-height: 38px;
    }
    &-description {
      margin-block-start: 14px;
      inline-size: 310px;
      line-height: 25px;
    }
    &-descriptionSolicitud {
      block-size: 139px;
      inline-size: 354px;
    }
    &-images {
      // border: 1px solid blue;
      inline-size: 508px;
      flex-direction: column-reverse;
      align-items: flex-end;
      &__left {
        margin-block-start: -77px;
        inline-size: 440px;
        flex-direction: row-reverse;
        align-items: flex-start;
        &-brujula {
          margin-block-start: 15px;
          block-size: 49.44px;
          inline-size: 101px;
        }
        &-cardCase {
          inline-size: 326px;
          block-size: 184px;
          margin-block-start: 0px;
          margin-inline-end: 5px;
        }
        &-soliDoc {
          margin-block-start: 15px;
          block-size: 301px;
          inline-size: 292px;
          // border: 1px solid red;
          margin-right: 170px;
        }
        &-busqueda {
          margin-right: 140px;
        }
        &-jurisprudencia {
          margin-right: 140px;
        }
      }
      .container-user {
        // margin: 1px solid red;
        margin-block-start: 30px;
      }
      .container-userSolicitud {
        margin-block-start: 25px;
        //
        block-size: 388.61px;
        inline-size: 354.33px;
        //
      }
      .container-userBusqueda {
        block-size: 388.61px;
        inline-size: 354.33px;
        margin-block-start: 25px;
      }
      .container-userJurisprudencia {
        block-size: 388.61px;
        inline-size: 354.33px;
        margin-block-start: 25px;
      }
    }
  }
}