.container-porqueSami {
  &__hero {
    block-size: 395px;
    &-title {
      padding-inline: 17px 13px;
      margin-block-start: 4.7rem;
      position: relative;
      &-hi {
        font-size: 1.1rem;
        font-weight: 700;
        color: #466EFE;
      }
      h1 {
        margin-block-start: 1.5rem;
        font-size: 3.6rem;
        font-weight: 700;  
        line-height: 4rem;   
        color: #3F4D79;
      }
      &-description {
        margin-block-start: 2rem;
        font-weight: 400;
        line-height: 2rem;
      }
      button {
        @include base_btn (31px, 137px);
        margin-block-start: 23px;
        margin-inline : auto;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 700;
        letter-spacing: 3%;
      }
      img {
        position: absolute;
      }
      &-backCircle {
        top: -10px;
        left: 0;
        right: 0;
        margin: auto;
      }
      &-backPuntos {
        top: -32px;
        right: 24px;
      }
      &-backEquis {
        bottom: 0;
        left: 43px;
        bottom: 5.34px;
      }
    }
  }
  
  &__main {
    margin-block-start: 51px;
    &-wrapperTop {
      margin: auto;
      
      &-content {
        background: $white;
        margin-inline: 16px;
      }
    }
    .content-descubreComo {
      margin-block-start: 51px;
      block-size: 566px;
      min-inline-size: 327px;
      max-inline-size: 1063px;
      padding: 11px 10px 0 12px;
      background-image: url("../images/background-M-descubreComo.png");
      background-repeat: no-repeat;
      // box-shadow: 0px -4px 20px rgba(210, 214, 225, 0.58);
      border-radius: 10px;
      
      // &-border {
      //   min-inline-size: 327px;
      //   max-inline-size: 1063px;
      // }
      h2 {
        margin-block-start: 15.46px;
      }
      &-description {
        margin-block-start: 28px;
        inline-size: 268px;
        line-height: 2rem;
      }
      &-imagenMiranda {
        block-size: 92px;
        inline-size: 235px;
        margin-block: 20px 13px;
      }
      &-logoMiranda {
        display: none
      }
      button {
        @include base_btn(31px, 132px);
        font-size: 1.2rem;
        line-height: 14.63px;
        letter-spacing: 3%;
        margin: auto;
      }
    }

    .content-coreSami {
      margin-block-start: 145px;
      height: 420;
      h2 {
        inline-size: 269.81px;
        line-height: 3.8rem;
      }
      &-description {
        margin-block-start: 24px;
        inline-size: 307px;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
      &-imagenCapacidades {
        display: none;
      }
    }

    &-wrapperDown {
      .content-addOnd {
        margin-block-start: 204px;
        padding: 0 0 0 14px;
          &__pasos {
            &-paso {
              margin-block-start: 50px;
              margin-inline-start: 7px;
              width: 297px;
              display: flex;
              position: relative;
              &-number {
                font-size: 3.5rem;
                line-height: 4.3rem;
                font-weight: 700;
                color: #969CBA;
              }
              &-description {
                margin-block-start: 9px;
                margin-inline-start: 8px;
                strong {
                  font-size: 1.6rem;
                  line-height: 2.4rem;
                  font-weight: 700;
                  color: #0E3141;
                }
                p {
                  margin-block-start: 1px;
                  inline-size: 212px;
                  font-size: 1.6rem;
                  line-height: 2.4rem;
                }
              }
              &-icon {
                position: absolute;
                bottom: 0;
                right: 5px;
                stroke: #FF3355;
              }
            }
          }
      }

      .content-equipo {
        margin-block-start: 123px;
        padding: 0 14px 0 14px;
        .subtitulo {
          inline-size: 292px;
          font-size: 3.2rem;
          line-height: 4.8rem;

        }
        &__members {
          &-options {
            display: flex;
            justify-content: center;
            font-size: 1rem;
            line-height: 2rem;
            font-weight: 500;
            margin-block-start: 26px;
            &-strategic {
              height: 20px;
              width: 78px;
              border: 1px solid #D2D6E1;
              border-radius: 10px;
              color: #969CBA;
              display: flex;
              justify-content: center;
              margin-inline: 10.5px;
            }
            &-delivery {
              height: 20px;
              width: 78px;
              border: 1px solid #FF3355;
              border-radius: 10px;
              color: #FF3355;
              display: flex;
              justify-content: center;
              margin-inline: 10.5px;
            }
          }
          &-containerMember {
            margin-block-start: 46px;
            margin-block-end: 89px;

            &-member {
              display: flex;
              align-items: center;
              margin-block-end: 40px;
              width: 256px;
              margin: 0 auto 40px;
              .img-member {
                height: 100px;
                width: 100px;
              }
              &-detail {
                margin-inline-start: 12px;
                img {
                  height: 13.2px;
                  width: 14.39px;
                  margin-block-end: 6.8px;
                }
                .name {
                  font-size: 1.8rem;
                  line-height: 2.4rem;
                  font-weight: 700;
                }
                .detail {
                  font-size: 1.6rem;
                  line-height: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .container-porqueSami {
    .content-descubreComo {
      h2 {
        inline-size: 419px;
        font-size: 3.6rem;
      }
      &-description {
        inline-size: 354px;
      }
      button {
        @include base_btn(31px, 132px);
        font-size: 1.2rem;
        line-height: 14.63px;
        letter-spacing: 3%;
        margin: auto;
      }
    }

    .content-coreSami {
      margin-block-start: 144px;
      height: 405px;
      .itemSubtitulo {
        font-size: 1.2rem;
        line-height: 4rem;
        margin-block-end: 24px;
      }
      .subtitulo {
        inline-size: 454px;
        font-size: 3.2rem;
        line-height: 3.8rem;
      }
      &-description {
        margin-block-start: 19px;
        inline-size: 449px;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }

    }
  }
}

@media screen and (min-width: 768px) {
  .container-porqueSami{
    &__hero {
      margin-block-start: 2px;
      &-title {
        margin: auto;
        text-align: center;
        max-inline-size: 674px;
        padding-block-start: 46px;
        &-hi {
          font-size: 1.2rem;
          line-height: 40px;
        }
        h1 {
          margin-block-start: 18px;
        }
        &-description {
          margin-block-start: 2.2rem;
          line-height: 2rem;
        }
        &-backCircle {
          left: 250px;
        }
        &-backPuntos {
          right: 0px;
        }
        &-backEquis {
          left: 143px;
        }
      }
    }

    &__main {
      .content-descubreComo {
        &-top {
          display: flex;
        }
        &-logoTipo {
          height: 30.54px;
          width: 91px;
          margin-block: 16px 13px;
        }
        &-description {
          margin-block-start: 8px;
        }
        .images {
          flex-direction: column;
        }
        &-imagenMiranda {
          margin-block-end: 0px;
        }
        &-logoMiranda {
          display: block;
          height: 106px;
          width: 150px;
          margin: 0 22px 0 auto;
        }
        button {
          @include base_btn(52px, 193px);
          font-size: 1.6rem;
          line-height: 20px;
          margin: 55px auto auto 0;
        }
      }

      &-wrapperDown {
        .content-equipo {
          .itemSubtitulo {
            font-size: 1.2rem;
            line-height: 4rem;
          }
          .subtitulo {
            inline-size: 638px;
            font-size: 3.2rem;
            line-height: 4.8rem;
          }
          &__members {
            &-containerMember {
              &-member {
                flex-direction: column;
                .img-member {
                  height: 218px;
                  width: 218px;
                }
                &-detail {
                  // margin-inline-start: 12px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-block-start: 10px;
                  // img {
                  //   margin-block-end: 6.8px;
                  // }
                  // .name {
                  //   font-size: 1.8rem;
                  //   line-height: 2.4rem;
                  //   font-weight: 700;
                  // }
                  // .detail {
                  //   font-size: 1.6rem;
                  //   line-height: 2rem;
                  // }
                }
              }

            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .container-porqueSami{
    &__hero {
      block-size: 301px;
      background-image: url("../images/background-D-porqueSami.png");
      background-repeat: no-repeat;
      background-position-x: center;
      &-title {
        &-backCircle {
          display: none;
        }
        &-backPuntos {
          display: none;
        }
        &-backEquis {
          display: none;
        }
      }
    }

    &__main {
      .content-descubreComo {
        block-size: 555px;
        padding: 52px 78px 0 74px;
        margin-inline-start: 107px;
        // box-shadow: 0px -4px 20px rgba(210, 214, 225, 0.58);
        // border-radius: 10px;
        background-image: url("../images/background-D-descubreComo.png");
        background-repeat: no-repeat;
        // background-size: cover;
        // background-position-x: center;
        border-bottom: none;
  
        // &-border {
        //   height: 338px;
        //   border: 1px solid red;
        //   box-shadow: 0px -4px 20px rgba(210, 214, 225, 0.58);
        //   border-radius: 10px;
        //   position: absolute;
        // }
  
        .images {
          width: 100%;
          align-items: flex-end;
        }
        &-imagenMiranda {
          height: 246px;
          width: 438px;
        }
        &-logoMiranda {
          margin-block-start: -10px;
        }
        button {
          margin-top: 22px;
        }
      }

      .content-coreSami {
        display: flex;
        height: 432px;
        margin-inline-start: 180px;
  
        &-imagenCapacidades {
          display: block;
          height: 512px;
          width: 512px;
          margin-block-start: -80px;
          margin-inline-start: 95px;
        }
      }

      &-wrapperDown {
        .content-addOnd {
          margin-block-start: 19px;
          margin-inline-start: 180px;
          .itemSubtitulo {
            font-size: 1.2rem;
            line-height: 4rem;
          }
          .subtitulo {
            inline-size: 457px;
            font-size: 3.2rem;
            line-height: 3.8rem;
          }
          &__pasos {
            margin-block-start: 49px;
            width: 984px;
            .itemTwo {
              margin-left: 480px;
            }
            &-paso {
              margin-block-start: 0px;
              margin-block-end: 70px;
              margin-inline-start: 0px;
              width: 370px;
              position: relative;

              &-number {
                font-size: 20rem;
                line-height: 24.4rem;
              }
              &-description {
                margin-block-start: 38px;
                margin-inline-start: 25px;
                position: relative;
                strong {
                  inline-size: 199px;
                  border: 1px solid transparent;
                }
                p {
                  margin-block-start: 22px;
                  inline-size: 265px;
                }
              }
              &-icon {
                height: 100px;
                width: 100px;
                top: -20px;
                bottom: 0;
                margin: auto;
                right: -130px;
                stroke: #466EFE;
                opacity: 0.3;
              }
            }
          }
        }

        
      .content-equipo {
        width: 884px;
        margin-inline-start: 180px;
        margin-block-end: 153px;
        &__members {
          padding-inline-start: 68px;
          &-containerMember {
            margin-block-start: 81px;
            // padding-inline-start: 68px;
            display: flex;
            justify-content: space-between;
            &-member {
              inline-size: 218px;
              margin: 0;
              &-detail {
                margin-inline-start: 0px;
              }
            }
          }
        }
      }


      }

    }




  }
}
