@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  --bs-body-font-size: 1.4rem;
  --bs-body-font-family: Montserrat;
  --bs-body-color: #0F3041;
}
body p {
  margin-bottom: 0;
}

.scroll-style::-webkit-scrollbar {
  width: 5px;
  /* ancho de toda la barra de desplazamiento  */
}
.scroll-style::-webkit-scrollbar-track {
  background: rgba(15, 48, 65, 0.2);
  border-radius: 5px;
  /* color of the tracking area */
}
.scroll-style::-webkit-scrollbar-thumb {
  background: #0f3041;
  /* color of the scroll thumb */
  border-radius: 5px;
  /* roundness of the scroll thumb */
}
.scroll-style::-webkit-scrollbar-thumb:hover {
  background: rgba(15, 48, 65, 0.8);
}

.btnNoStyle {
  background: none;
  border: none;
  outline: none;
}
.btnNoStyle:focus {
  box-shadow: none;
}

.container-home button {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.container-home .btnActive {
  background: #D70025;
}
.container-home .btnNoActive {
  background: none;
}
.container-home .itemSubtitulo {
  font-size: 1.1rem;
  font-weight: 700;
  color: #466EFE;
  margin-block-end: 12px;
}
.container-home .subtitulo {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 30px;
}
.container-home__hero {
  margin-block-start: -5.9rem;
  block-size: 512px;
  background-image: url("../images/background-mobile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.container-home__hero-title {
  color: #ffffff;
  padding-inline: 8px;
  padding-block-start: 10.4rem;
}
.container-home__hero-title-hi {
  font-size: 1.1rem;
  font-weight: 700;
}
.container-home__hero-title h1 {
  margin-block-start: 1.5rem;
  font-size: 35px;
  font-weight: 700;
  line-height: 3.5rem;
}
.container-home__hero-title-description {
  margin-block-start: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.container-home__hero-title button {
  height: 31px;
  width: 137px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF3355;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #FF3355;
  margin-block-start: 22px;
  margin-inline: auto;
}
.container-home__main {
  margin-block-start: -35px;
}
.container-home__main-wrapperTop {
  max-inline-size: 1063px;
  margin: auto;
}
.container-home__main-wrapperTop-content {
  background: #ffffff;
  border-radius: 10px 10px 0 0;
  margin-inline: 16px;
  background-image: url("../images/background-skyblue.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 329px;
  background-size: auto 940.19px;
}
.container-home__main .content-descubre {
  block-size: 535px;
  padding-block-start: 56px;
  padding-inline-start: 11px;
  position: relative;
}
.container-home__main .content-descubre__options {
  top: -20px;
  block-size: 54px;
  inline-size: 304px;
  position: absolute;
  padding-block: 3px;
  padding-inline: 4px;
  display: flex;
  justify-content: space-between;
  background: #FFCDD3;
  border-radius: 8px;
  right: 0;
  left: 0;
  margin: auto;
}
.container-home__main .content-descubre__options-option {
  block-size: 46.96px;
  inline-size: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container-home__main .content-descubre-itemSubtitulo {
  font-size: 1.1rem;
  font-weight: 700;
  color: #466EFE;
  margin-block-end: 12px;
}
.container-home__main .content-descubre-logoTipo {
  height: 30.54px;
  width: 91.98px;
  margin-block-end: 15.46px;
}
.container-home__main .content-descubre button {
  height: 31px;
  width: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF3355;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #FF3355;
  margin-block-start: -25px;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 480px) {
  .container-home__hero {
    block-size: 768px;
    background-image: url("../images/background-desktop.jpg");
    background-size: contain;
  }
  .container-home__main {
    margin-block-start: -337px;
  }
}
@media screen and (min-width: 768px) {
  .container-home__hero-title {
    max-inline-size: 791px;
    margin: auto;
    text-align: center;
    padding-block-start: 123px;
  }
  .container-home__hero-title-hi {
    font-size: 1.2rem;
  }
  .container-home__hero-title h1 {
    margin-block-start: 18px;
  }
  .container-home__hero-title-description {
    margin-block-start: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .container-home .content-descubre {
    padding-block-start: 55px;
    padding-inline-start: 74px;
    padding-inline-end: 34px;
  }
  .container-home .content-descubre__options {
    block-size: 51px;
    inline-size: 254px;
    padding-block: 6px;
    padding-inline: 6px;
    transform: rotate(90deg);
    top: 162px;
    right: auto;
    left: -140px;
  }
  .container-home .content-descubre__options-option {
    block-size: 40px;
    inline-size: 40px;
  }
  .container-home .content-descubre__options-option img {
    width: 75%;
    transform: rotate(-90deg);
  }
  .container-home .content-descubre-itemSubtitulo {
    font-size: 1.2rem;
  }
  .container-home .content-descubre-logoTipo {
    margin-block-start: 28px;
    margin-block-end: 28.46px;
  }
  .container-home .content-descubre button {
    height: 52px;
    width: 193px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF3355;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #FF3355;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    margin-block-end: 105px;
  }
}
.container-navbar {
  top: 0;
  position: sticky;
  z-index: 1;
}

.container-navbar .navbar {
  block-size: 5.9rem;
  max-inline-size: 1440px;
  margin: auto;
}
.container-navbar .container {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}
.container-navbar .container .navbar-brand {
  color: pink;
}
.container-navbar .container .btnMenu {
  height: 50px;
  color: transparent;
  border-color: transparent;
  padding-right: 0;
}
.container-navbar .container .btnMenu span {
  block-size: 3rem;
  inline-size: 3rem;
  background-image: url(../images/menu.svg);
}
.container-navbar .container .navbar-collapse {
  justify-content: flex-end;
}
.container-navbar .container .navbar-collapse .navbar-nav {
  align-items: flex-end;
}
.container-navbar .container .navbar-collapse .navbar-nav a {
  width: 150px;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 600;
  text-align: left;
  color: white;
  text-decoration: none;
}

.btnLogin {
  height: 31px;
  width: 115px;
  position: absolute;
  top: 14px;
  right: 5.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 14.63px;
  letter-spacing: 0.03em;
  margin-right: 2.5px;
  color: white;
  border-radius: 5px;
  background: #FF3355;
  border: 2px solid #FF3355;
  box-shadow: 0px 0.5px 0px rgba(117, 0, 0, 0.2);
}

@media screen and (min-width: 576px) {
  .container-navbar .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container-navbar .container {
    padding-left: 6.5rem;
    padding-right: 20rem;
  }
  .container-navbar .container .navbar-collapse .navbar-nav a {
    text-align: center;
  }
}
.options-subtitulo {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 30px;
  margin-block-end: 0.7rem;
}
.options-description {
  line-height: 1.7rem;
  block-size: 75px;
  inline-size: 248px;
  margin-block-start: 2px;
}
.options-descriptionSolicitud {
  font-size: 16px;
  line-height: 20px;
  block-size: 116px;
  inline-size: 269px;
}
.options-images {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.options-images__left {
  display: flex;
  flex-direction: column;
  margin-block-start: 17px;
  position: absolute;
  left: 0;
}
.options-images__left-brujula {
  block-size: 37.44px;
  inline-size: 68.85px;
}
.options-images__left-cardCase {
  margin-block-start: 26px;
  block-size: 117px;
  inline-size: 188px;
}
.options-images__left-soliDoc {
  margin-block-start: -15px;
  block-size: 181px;
  inline-size: 172px;
}
.options-images__left-busqueda {
  margin-block-start: 50px;
}
.options-images__left-jurisprudencia {
  margin-block-start: 50px;
}
.options-images .container-user {
  margin-block-start: -65px;
  block-size: 289px;
  inline-size: 205px;
  overflow: hidden;
}
.options-images-user {
  block-size: 289px;
  inline-size: 248.43px;
}
.options-images .container-userSolicitud {
  margin-block-start: -75px;
  inline-size: 210px;
  overflow: hidden;
}
.options-images .container-userBusqueda {
  margin-block-start: -60px;
  inline-size: 210px;
  overflow: hidden;
}
.options-images .container-userJurisprudencia {
  margin-block-start: -45px;
  inline-size: 210px;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .options-subtitulo {
    inline-size: 415px;
  }
  .options-description {
    inline-size: 310px;
  }
}
@media screen and (min-width: 768px) {
  .options-images__left {
    inline-size: 310px;
    align-items: center;
  }
  .options-images .container-user {
    margin: 1px solid red;
    margin-block-start: -100px;
    block-size: 388.61px;
    inline-size: 354.33px;
    margin-inline-end: 9px;
  }
  .options-images-user {
    block-size: 100%;
    inline-size: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .options {
    display: flex;
    justify-content: space-between;
  }
  .options-subtitulo {
    inline-size: 332px;
    font-size: 32px;
    line-height: 38px;
  }
  .options-description {
    margin-block-start: 14px;
    inline-size: 310px;
    line-height: 25px;
  }
  .options-descriptionSolicitud {
    block-size: 139px;
    inline-size: 354px;
  }
  .options-images {
    inline-size: 508px;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .options-images__left {
    margin-block-start: -77px;
    inline-size: 440px;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .options-images__left-brujula {
    margin-block-start: 15px;
    block-size: 49.44px;
    inline-size: 101px;
  }
  .options-images__left-cardCase {
    inline-size: 326px;
    block-size: 184px;
    margin-block-start: 0px;
    margin-inline-end: 5px;
  }
  .options-images__left-soliDoc {
    margin-block-start: 15px;
    block-size: 301px;
    inline-size: 292px;
    margin-right: 170px;
  }
  .options-images__left-busqueda {
    margin-right: 140px;
  }
  .options-images__left-jurisprudencia {
    margin-right: 140px;
  }
  .options-images .container-user {
    margin-block-start: 30px;
  }
  .options-images .container-userSolicitud {
    margin-block-start: 25px;
  }
  .options-images .container-userBusqueda {
    block-size: 388.61px;
    inline-size: 354.33px;
    margin-block-start: 25px;
  }
  .options-images .container-userJurisprudencia {
    block-size: 388.61px;
    inline-size: 354.33px;
    margin-block-start: 25px;
  }
}
.content-insights {
  padding-block-start: 55px;
  padding-inline-start: 11px;
}
.content-insights .subtitulo {
  inline-size: 269.81px;
}
.content-insights__textSimbolo {
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-block-start: 14px;
  margin-block-end: 14px;
}
.content-insights__textSimbolo img {
  block-size: 21.84px;
  inline-size: 21.33px;
  margin-inline-start: 6px;
}
.content-insights__description {
  block-size: 264px;
  position: relative;
}
.content-insights__description-text {
  block-size: 102px;
  inline-size: 156.87px;
  font-size: 16px;
  padding-block-start: 3px;
}
.content-insights__description-cardFunci {
  block-size: 163px;
  inline-size: 156.87px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../images/funci-mobile.png");
  background-repeat: no-repeat;
}
.content-insights__description-materias {
  block-size: 175px;
  inline-size: 200px;
  margin-block-start: 30px;
  background-image: url("../images/materias-m.png");
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  .content-insights__description-cardFunci {
    left: 80px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .content-insights {
    padding-block-start: 121px;
  }
  .content-insights__description-cardFunci {
    block-size: 320px;
    inline-size: 280px;
    left: 100px;
    margin: -187px auto;
    background-image: url("../images/funci-desktop.png");
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1024px) {
  .content-insights .subtitulo {
    font-size: 32px;
    inline-size: 310px;
  }
  .content-insights__textSimbolo {
    font-size: 16px;
  }
  .content-insights__description-text {
    inline-size: 265px;
  }
  .content-insights__description-materias {
    block-size: 235px;
    inline-size: 320px;
    position: absolute;
    top: -165px;
    right: 25px;
    background-image: url("../images/materias-d.png");
    background-repeat: no-repeat;
  }
}
.content-testimonios {
  margin-block-start: 30px;
  padding-inline-start: 11px;
  padding-inline-end: 11px;
  padding-block-start: 65px;
}
.content-testimonios__slider {
  padding-block-start: 30px;
}
.content-testimonios .slider-container__slider {
  position: relative;
}
.content-testimonios .slider-container__slider-square {
  block-size: 58.24px;
  inline-size: 58.24px;
  position: absolute;
  top: -55px;
  left: auto;
  right: 32px;
}
.content-testimonios .slider-container__slider .carousel {
  block-size: 370px;
}
.content-testimonios .slider-container__slider .carousel .carousel-indicators button {
  height: 8.8px;
  width: 8.8px;
  border-radius: 50%;
  border-top: 0;
  border-bottom: 0;
  background: #FF3355;
}
.content-testimonios .slider-container__slider-profile {
  display: flex;
  flex-direction: column;
}
.content-testimonios .slider-container__slider-profile-top {
  display: flex;
}
.content-testimonios .slider-container__slider-profile-top-img {
  height: 60.51px;
  width: 61px;
  margin-inline-end: 14.48px;
}
.content-testimonios .slider-container__slider-profile-top span {
  font-size: 22px;
  line-height: 48px;
  font-weight: 700;
}
.content-testimonios .slider-container__slider-profile-top p {
  inline-size: 215.87px;
  font-size: 12px;
  line-height: 15px;
}
.content-testimonios .slider-container__slider-profile-down {
  margin-block-start: 14px;
  overflow-y: auto;
}
.content-testimonios .slider-container__slider-profile-down p {
  font-size: 16px;
  line-height: 25px;
}

@media screen and (min-width: 1024px) {
  .content-testimonios {
    margin-block-start: 0px;
    padding-block-start: 0px;
  }
  .content-testimonios .itemSubtitulo {
    font-size: 1.2rem;
    line-height: 4rem;
  }
  .content-testimonios .subtitulo {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
  .content-testimonios__slider {
    padding-block-start: 0px;
  }
  .content-testimonios .slider-container__slider {
    block-size: 230px;
    inline-size: 950px;
    background: #F9FCFF;
  }
  .content-testimonios .slider-container__slider-square {
    top: 0;
    left: -35px;
    right: auto;
    bottom: 0;
    margin: auto;
  }
  .content-testimonios .slider-container__slider .carousel {
    block-size: 277px;
  }
  .content-testimonios .slider-container__slider .carousel .carousel-indicators button {
    margin-right: 8.32px;
    margin-left: 8.32px;
  }
  .content-testimonios .slider-container__slider-profile {
    display: flex;
    flex-direction: row;
    block-size: 230px;
    inline-size: 950px;
    padding-inline: 61px 56px;
  }
  .content-testimonios .slider-container__slider-profile-top {
    align-items: center;
  }
  .content-testimonios .slider-container__slider-profile-top-img {
    block-size: 123px;
    inline-size: 124px;
    margin-inline-end: 13.31px;
  }
  .content-testimonios .slider-container__slider-profile-top p {
    width: 207.63px;
  }
  .content-testimonios .slider-container__slider-profile-down {
    display: flex;
    align-items: center;
    block-size: auto;
    margin-block-start: 0;
  }
  .content-testimonios .slider-container__slider-profile-down p {
    inline-size: 426px;
    margin-inline-start: 62px;
  }
}
.container-inspecciones {
  margin-block-start: 50px;
  padding-block-start: 33px;
  block-size: 344px;
  padding-inline: 27px 10px;
  background: #EFF2F9;
}
.container-inspecciones .content-inspecciones {
  margin: auto;
}
.container-inspecciones .content-inspecciones__container {
  margin-block-start: 24px;
  display: flex;
  position: relative;
}
.container-inspecciones .content-inspecciones__container-description {
  font-size: 1.2rem;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}
.container-inspecciones .content-inspecciones__container-description button {
  height: 31px;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF3355;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #FF3355;
}
.container-inspecciones .content-inspecciones__container-video {
  position: absolute;
  height: 106px;
  width: 202px;
  right: 0px;
}
.container-inspecciones .content-inspecciones__container-video img {
  width: 100%;
  height: 100%;
}
.container-inspecciones .content-inspecciones__container-video .div-video {
  height: 104px;
  width: 162px;
  position: absolute;
  top: 2px;
  top: -4.8px;
  left: 0;
  right: 1px;
  margin: auto;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.container-inspecciones .content-inspecciones__container-video .div-video video {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .container-inspecciones {
    padding-inline-start: 36px;
    block-size: 383px;
    margin-block-start: 70.8px;
  }
  .container-inspecciones .content-inspecciones {
    max-inline-size: 1063px;
    padding-inline-start: 11px;
  }
  .container-inspecciones .content-inspecciones .itemSubtitulo {
    font-size: 1.2rem;
    line-height: 40px;
  }
  .container-inspecciones .content-inspecciones .subtitulo {
    inline-size: 442px;
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-block: 12px 24px;
  }
  .container-inspecciones .content-inspecciones__container-description p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .container-inspecciones .content-inspecciones__container-description button {
    height: 52px;
    width: 193px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF3355;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #FF3355;
    margin-block-start: 13.16px;
    font-size: 1.6rem;
    line-height: 20px;
    letter-spacing: 3%;
  }
  .container-inspecciones .content-inspecciones__container-video {
    height: 325px;
    width: 665px;
    top: -185px;
    right: -89px;
  }
  .container-inspecciones .content-inspecciones__container-video .div-video {
    height: 300px;
    width: 531px;
    top: 4px;
    right: 2px;
  }
}
.container-planes {
  margin-block-start: 48px;
  padding-inline-start: 47px;
  padding-inline-start: 11px;
}
.container-planes__content {
  background: white;
  margin: auto;
}
.container-planes__content-title .subtitulo {
  inline-size: 284px;
}
.container-planes__content-container {
  margin-block-start: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-planes__content-container-cards {
  margin-block-start: 27px;
}
.container-planes__content-container-cards-card {
  padding: 40px 14px 25px 21px;
  block-size: 555px;
  inline-size: 301px;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.container-planes__content-container-cards-card-title {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.container-planes__content-container-cards-card-description {
  line-height: 3.3rem;
  letter-spacing: 0.1px;
}
.container-planes__content-container-cards-card-price span {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: 500;
  letter-spacing: 0.1px;
}
.container-planes__content-container-cards-card-price strong {
  font-size: 3.2rem;
  line-height: 3.3rem;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.container-planes__content-container-cards-card-price p {
  font-size: 12px;
  line-height: 3.3rem;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.container-planes__content-container-cards-card-detail {
  margin-block-start: 2px;
}
.container-planes__content-container-cards-card-detail .title {
  font-size: 1.2rem;
  line-height: 3.3rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #466EFE;
}
.container-planes__content-container-cards-card-detail .item {
  display: flex;
  align-items: center;
}
.container-planes__content-container-cards-card-detail .item img {
  height: 15px;
  width: 15px;
}
.container-planes__content-container-cards-card-detail .item p {
  line-height: 3.3rem;
  letter-spacing: 0.1px;
  margin-inline-start: 8px;
}
.container-planes__content-container-cards-card-enlace {
  margin-block-start: 3px;
  line-height: 3.3rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-decoration: underline;
  color: #FF3355;
}
.container-planes__content-container-cards-card button {
  height: 34px;
  width: 177px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF3355;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #FF3355;
  margin: 16px auto;
  border-radius: 10px;
}
.container-planes__content-container-cards .premium {
  block-size: 557px;
  inline-size: 301px;
}

@media screen and (min-width: 1024px) {
  .container-planes {
    margin-block-start: 94px;
    padding-inline-start: 47px;
  }
  .container-planes__content {
    max-inline-size: 1063px;
  }
  .container-planes__content-title .itemSubtitulo {
    font-size: 1.2rem;
    line-height: 4rem;
  }
  .container-planes__content-title .subtitulo {
    inline-size: 489px;
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
  .container-planes__content-container {
    margin-block-start: 37px;
  }
  .container-planes__content-container-cards {
    display: flex;
    justify-content: space-between;
    block-size: 695px;
    inline-size: 1105px;
  }
  .container-planes__content-container-cards-card {
    position: relative;
    block-size: 663px;
    inline-size: 335px;
  }
  .container-planes__content-container-cards button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
  }
  .container-planes__content-container-cards .premium {
    block-size: 695px;
    inline-size: 335px;
  }
}
.contactanos .container-contactanos {
  margin-block-start: 71px;
  block-size: 474.22px;
  max-inline-size: 1440px;
  padding: 30px 21px 21px 19px;
  color: #ffffff;
  background-image: url("../images/background_base-contactanos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin: auto;
}
.contactanos .container-contactanos__title {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2rem;
  margin-block-end: 33px;
}
.contactanos .container-contactanos__form {
  inline-size: 320px;
}
.contactanos .container-contactanos__form-items {
  display: flex;
  flex-direction: column;
}
.contactanos .container-contactanos__form-items label {
  margin-block-end: 10px;
}
.contactanos .container-contactanos__form-items p {
  line-height: 1.7rem;
  font-weight: 700;
  opacity: 0.5;
  margin-block-end: 7px;
}
.contactanos .container-contactanos__form-items input {
  block-size: 39px;
  inline-size: 320px;
  line-height: 1.7rem;
  padding-inline: 19px;
  background: #EFF2F9;
  border: 1px solid #D2D6E1;
  border-radius: 5px;
}
.contactanos .container-contactanos__form-items input::placeholder {
  color: #969CBA;
}
.contactanos .container-contactanos__form-items input:focus {
  outline: none;
}
.contactanos .container-contactanos__form button {
  height: 31px;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF3355;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #FF3355;
  margin: 31px auto;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
}

@media screen and (min-width: 768px) {
  .contactanos .container-contactanos__form {
    inline-size: 691px;
  }
  .contactanos .container-contactanos__form-items {
    flex-direction: inherit;
    justify-content: space-between;
  }
  .contactanos .container-contactanos__form-items-left, .contactanos .container-contactanos__form-items-right {
    display: flex;
    flex-direction: column;
  }
  .contactanos .container-contactanos__form-items label {
    margin-block-end: 26px;
  }
}
@media screen and (min-width: 1024px) {
  .contactanos .container-contactanos {
    margin-block-start: 152px;
    padding-inline-start: 228px;
    padding-top: 67px;
    background-image: url("../images/background-D-contactanos.png");
  }
  .contactanos .container-contactanos__form button {
    height: 52px;
    width: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF3355;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #FF3355;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0.2px;
    margin: 19px auto auto 0;
  }
}
.footer .container-footer {
  background: #0F3041;
  margin-block-end: 500px;
  block-size: 525px;
  padding: 37px 19px 30px 19px;
  color: #ffffff;
  max-inline-size: 1440px;
  margin: auto;
}
.footer .container-footer__logoBtn img {
  block-size: 28px;
  inline-size: 90px;
}
.footer .container-footer__logoBtn-copyright {
  display: none;
}
.footer .container-footer__logoBtn-conversemos {
  font-size: 2.8rem;
  margin-block-start: 30px;
  margin-block-end: 10px;
}
.footer .container-footer__logoBtn-escribenos {
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.footer .container-footer__logoBtn button {
  height: 37px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF3355;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #FF3355;
  margin-block-start: 10px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 3%;
}
.footer .container-footer__info {
  inline-size: 290px;
}
.footer .container-footer__info h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 600;
  margin-block-start: 48px;
  margin-block-end: 24px;
}
.footer .container-footer__info-item {
  display: flex;
  align-items: center;
  margin-block-end: 7px;
}
.footer .container-footer__info-item img {
  margin-inline-end: 18px;
}
.footer .container-footer__info-item p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.1px;
}
.footer .container-footer__redes {
  margin-block-start: 54px;
  inline-size: 290px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer .container-footer__redes img {
  margin-inline: 9px;
}
.footer .container-footer__redes p {
  margin-block-start: 8px;
  font-size: 0.9rem;
  line-height: 2.8rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .footer .container-footer {
    display: flex;
    justify-content: space-between;
  }
  .footer .container-footer__info {
    margin-inline-start: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .footer .container-footer {
    padding: 58.37px 70.82px 198.44px;
    block-size: 389px;
  }
  .footer .container-footer__logoBtn img {
    block-size: 40.86px;
    inline-size: 134px;
  }
  .footer .container-footer__logoBtn-copyright {
    display: block;
    margin-block-start: 7px;
    font-size: 1.2rem;
    line-height: 2.8rem;
    font-weight: 500;
  }
  .footer .container-footer__logoBtn-conversemos {
    font-size: 3.2rem;
    margin-block-start: 44px;
    margin-block-end: 8px;
  }
  .footer .container-footer__logoBtn button {
    margin-block-start: 19.16px;
  }
  .footer .container-footer__info h2 {
    margin-block-start: 42px;
    margin-block-end: 21px;
  }
  .footer .container-footer__info-item {
    margin-block-end: 12px;
  }
  .footer .container-footer__redes {
    margin-block-start: 40px;
  }
  .footer .container-footer__redes p {
    display: none;
  }
  .footer .container-footer__redes-twitter {
    block-size: 14.52px;
    inline-size: 19.12px;
  }
  .footer .container-footer__redes-linkedin {
    block-size: 17.17px;
    inline-size: 18.38px;
  }
}

/*# sourceMappingURL=Styles.css.map */
