@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --bs-body-bg: #000000;
}

body {
  --bs-body-font-size: 1.4rem;
  --bs-body-font-family: Montserrat;
  --bs-body-color: #0F3041;
  --bs-body-bg: #000000;
}
body p {
  margin-bottom: 0;
}

.container-navbar {
  top: 0;
  position: sticky;
  z-index: 1;
}

.container-navbar .navbar {
  block-size: 5.9rem;
}
.container-navbar .container {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}
.container-navbar .container .navbar-brand {
  color: pink;
}
.container-navbar .container .btnMenu {
  height: 50px;
  color: transparent;
  border-color: transparent;
  padding-right: 0;
}
.container-navbar .container .btnMenu span {
  block-size: 3rem;
  inline-size: 3rem;
  background-image: url(../images/menu.svg);
}
.container-navbar .container .navbar-collapse {
  justify-content: flex-end;
}
.container-navbar .container .navbar-collapse .navbar-nav {
  align-items: flex-end;
}
.container-navbar .container .navbar-collapse .navbar-nav a {
  width: 150px;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 600;
  text-align: left;
  color: white;
  text-decoration: none;
}

.btnLogin {
  height: 31px;
  width: 115px;
  position: absolute;
  top: 14px;
  right: 5.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 14.63px;
  letter-spacing: 0.03em;
  margin-right: 2.5px;
  color: white;
  border-radius: 5px;
  background: #FF3355;
  border: 2px solid #FF3355;
  box-shadow: 0px 0.5px 0px rgba(117, 0, 0, 0.2);
}

@media screen and (min-width: 576px) {
  .container-navbar .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container-navbar .container {
    padding-left: 6.5rem;
    padding-right: 20rem;
  }
  .container-navbar .container .navbar-collapse .navbar-nav a {
    text-align: center;
  }
}
.container-home__hero {
  margin-block-start: -5.9rem;
  block-size: 512px;
  background-image: url("../images/background-mobile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-home__hero-title {
  color: #ffffff;
  padding-inline: 8px;
  padding-block-start: 10.4rem;
}
.container-home__hero-title-hi {
  font-size: 1.1rem;
  font-weight: 700;
}
.container-home__hero-title h1 {
  display: none;
  font-size: 35px;
  font-weight: 700;
  line-height: 3.5rem;
}
.container-home__hero-title-description {
  display: none;
  margin-block-start: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.container-home__hero-title button {
  display: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-block-start: 22px;
  margin-inline: auto;
}
.container-home__main {
  display: none;
  border: 1px solid red;
}
.container-home__main-wrapperTop {
  border: 1px solid yellow;
  max-inline-size: 1063px;
  margin: auto;
}
.container-home__main-wrapperTop-content {
  border: 1px solid blue;
  block-size: 1616px;
  inline-size: 327px;
  background: #ffffff;
  margin: auto;
}
.container-home__main .content-descubre-itemSubtitulo {
  font-size: 1.1rem;
  font-weight: 700;
  color: #466EFE;
}
.container-home__main .content-descubre-logoTipo {
  height: 30.54px;
  width: 91.98px;
  margin-block-start: 12px;
  margin-block-end: 15.46px;
}
.container-home__main .content-descubre-subtitulo {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 30px;
}
.container-home__main .content-descubre-description {
  line-height: 1.7rem;
  block-size: 75px;
  inline-size: 247px;
  margin-block-start: 2px;
}

@media screen and (min-width: 480px) {
  .container-home__hero {
    block-size: 768px;
    background-image: url("../images/background-desktop.jpg");
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .container-home__hero-title {
    max-inline-size: 791px;
    margin: auto;
    text-align: center;
    padding-block-start: 123px;
  }
  .container-home__hero-title-hi {
    font-size: 1.2rem;
  }
  .container-home__hero-title h1 {
    margin-block-start: 18px;
  }
  .container-home__hero-title-description {
    margin-block-start: 3rem;
  }
}

/*# sourceMappingURL=Styles.css.map */
